:root{
    --Dark_cyan: hsl(158, 36%, 37%);
    --Darker_cyan: hsl(158, 42%, 22%);
    --Cream: hsl(30, 38%, 92%);
    --Very_dark_blue: hsl(212, 21%, 14%);
    --Dark_grayish_blue: hsl(228, 12%, 48%);
    --White: hsl(0, 0%, 100%);
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img{
  max-width: 100%;
}

body{
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  background-color: var(--Cream);
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 1px);
}

.container{
  max-width: 600px;
  padding: 1.5rem 1rem;
    
}

.container article:first-child img{
  border-radius: 0.6rem 0.6rem 0 0;
}

.container article:last-child{
  background-color: var(--White);
  padding: 1.5rem;
  margin-top: -0.3rem;
  border-radius: 0 0 0.6rem 0.6rem;
}

h2{
  font-size: 0.7rem;
  color: var(--Dark_grayish_blue);
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.4rem;
}

h1{
  color: var(--Very_dark_blue);
  font-size: 32px;
  line-height: 1;
  margin: 0.9rem 0;
}


.container p{
  color: var(--Dark_grayish_blue);
  line-height: 1.8;
  margin-bottom: 1rem;
}

.container ul{
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  margin-bottom: 1.1rem;
}

.container ul li:first-child{
  font-size: 2rem;
  margin-right: 1.4rem;
}

.container ul li:last-child{
  color: var(--Dark_grayish_blue);
  font-size: 0.8rem;
  text-decoration: line-through
}

.price{
  color: var(--Dark_cyan);
}

h1, .price{
  font-family: "Fraunces", sans-serif;
}

.container .btn, .list{
  font-family: inherit;
}

.container .btn{
  width: 100%;
  color: var(--White);
  background-color: var(--Dark_cyan);
  font-weight: 700;
  border-radius: 5px;
  border-style: none;
  padding: 1rem 2rem;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
}

.container .btn:hover{
  background-color: var(--Darker_cyan);
}

.container .btn img{
  margin-right: 0.5rem;
}

.attribution { 
  font-size: 14px; 
  text-align: center;
  margin-bottom: 2rem;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

footer{
  visibility: hidden;
}

/* screen 1440px */

@media (min-width: 440px) {
  .container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .container article:first-child img{
    border-radius: 0.6rem 0 0 0.6rem;
    height: 100%;
  }
  .container article:last-child{
    margin: 0;
    border-radius: 0 0.6rem 0.6rem 0;
  }
}